<div id="content-wrap">
  
<div id="back"><span class="backedit"><%= link_to "Back", :back %></span></div>
<div id="back"><span class="backedit"><%= link_to "Stage", :controller => "theatre", :action => "stage" %></span></div>

<h1>Edit Soul</h1><br />

<% form_for(@soul) do |f| %>

  <h2><%= f.label :name %></h2>
  <%= f.error_messages %>
  <p><%= f.text_field :name %></p>

  <h2><%= f.label :gender %></h2>
  <p><%= f.text_field :gender %></p>

  <h2><%= f.label :age %></h2>
  <p><%= f.text_field :age %></p>

  <h2><%= f.label :career %></h2>
  <p><%= f.text_field :career %></p>

  <h2><%= f.label :physical %></h2>
  <p><%= f.text_area :physical %></p>

  <h2><%= f.label :visual_guide %></h2>
  <p><%= f.text_field :visual_guide %></p>

  <h2><%= f.label :style %></h2>
  <p><%= f.text_area :style %></p>

  <h2><%= f.label :personality_type %></h2>
  <p><%= f.text_area :personality_type %></p>

  <h2><%= f.label :quirks1 %></h2>
  <p><%= f.text_area :quirks1 %></p>
  <p><%= f.text_area :quirks2 %>
  <p><%= f.text_area :quirks3 %>

  <h2><%= f.label :backstory %></h2>
  <p><%= f.text_area :backstory %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div id="back"><span class="backedit"><%= link_to "Back", :back %></span></div>
	<div id="back"><span class="backedit"><%= link_to "Stage", :controller => "theatre", :action => "stage" %></span></div>
</div>
